body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    /*background-image: linear-gradient(#81D4FA, #2196F3);*/
    background-repeat: no-repeat;
}

.video-container {
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  opacity: 0.80;
}

.card0 {
    width: 94%;
}

.card1 {
    padding: 30px 20px 30px 50px;
}

.weather-sunny {
    background-image: linear-gradient(#2196F3, #81D4FA);
    
}

.weather-partly-cloudy {
    background-image: linear-gradient(#B3E5FC, #E3F2FD);
}

.weather-cloudy {
    background-image: linear-gradient(#9E9E9E, #E0E0E0);
}

.weather-very-cloudy {
    background-image: linear-gradient(#757575, #BDBDBD);
}

.weather-fog {
    background-image: linear-gradient(#B0BEC5, #CFD8DC);
    color: black;
}

.weather-light-showers,
.weather-light_sleet_showers,
.weather-light_sleet,
.weather-thundery-showers,
.weather-light-rain,
.weather-heavy-showers,
.weather-heavy-rain,
.weather-thundery-heavy-rain {
    background-image: linear-gradient(#90A4AE, #B0BEC5);
}

.weather-light-snow,
.weather-heavy-snow,
.weather-light-snow-showers,
.weather-heavy-snow-showers,
.weather-thundery-snow-showers {
    background-image: linear-gradient(#E0E0E0, #FFFFFF);
    color: black;

}


.card2 {
    background-color: #607D8B;
    padding: 0px 0px 40px 40px;
}

.image {
    width: 300px;
    height: 300px;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

.bi-brightness-high {
    font-size: 22px;
}

input {
    background-color: #607D8B;
    padding: 24px 0px 12px 0px !important;
    width: 80%;
    box-sizing: border-box;
    border: none !important;
    border-bottom: 1px solid #CFD8DC !important;
    font-size: 16px !important;
    color: #fff !important;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400;
}

::placeholder {
    color: #B0BEC5 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #B0BEC5 !important;
}

::-ms-input-placeholder {
    color: #B0BEC5 !important;
}

.bi-search {
    color: #607D8B;
    background-color: #E1F5FE;
    font-size: 20px;
    padding: 20px;
    width: 20%;
    cursor: pointer;
}

.light-text {
    color: #B0BEC5;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #B0BEC5;
}

@media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px;
    }
}